@model ContosoUniversityCore.Models.SchoolViewModels.CourseDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (TempData.ContainsKey("Success"))
{
    <span class="success">@TempData["Success"]</span>
}

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Department.Name)
        </dd>
    </dl>
</div>
@if (ViewBag.StudentId != null)
{
    <div class="row">
        <form asp-action="Enroll" method="post">
            <input type="hidden" name="studentId" value="@ViewBag.StudentId" />
            <input type="hidden" name="courseId" value="@Model.Course.CourseID" />
            <div class="form-group">
                <input type="submit" value="Enroll for Course" class="btn btn-default" />
            </div>
        </form>
    </div>
}
<div>
    <h4>Other interesting Courses</h4>
    <hr />
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Credits</th>
            <th></th>
        </tr>
        @foreach (var item in Model.OtherCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Courses", new { id = item.CourseID, studentId = ViewBag.StudentId }, null)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Course.CourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
