@model ContosoUniversityCore.Models.SchoolViewModels.StudentDashboardViewModel

@{
    ViewData["Title"] = "Studend Dashboard";
}

<h2>Dashboard</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            @if (Model.Student.UserPicture != null)
            {
                <img src="@Model.Student.UserPicture.PictureUrl" alt="User Picture" style="width: 100%" />
            }
            else
            {
                <img src="~/images/UserImage.png" alt="User Picture" style="width: 100%" />
            }
        </div>
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.FirstMidName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.FirstMidName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.EnrollmentDate)
                </dd>
            </dl>
        </div>
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-md-6">
        <h4> @Html.DisplayNameFor(model => model.Student.Enrollments)</h4>
        <hr />
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Student.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Courses", new { id = item.CourseID, studentId = Model.Student.ID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        <h4>Student Departments</h4>
        <hr />
        <table class="table">
            <tr>
                <th>Department</th>
                <th>Credits</th>
            </tr>
            @foreach (var item in Model.StudentDepartments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <h4>Other interesting Courses</h4>
    <hr />
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Credits</th>
            <th></th>
        </tr>
        @foreach (var item in Model.SuggestedCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Courses", new { id = item.CourseID, studentId = Model.Student.ID }, null)
                </td>
            </tr>
        }
    </table>
    <a asp-action="Details" asp-controller="Courses" class="btn btn-default" asp-route-studentId="@Model.Student.ID">Search Courses</a>
    <hr />
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Student.ID">Details</a> |
    <a asp-action="Edit" asp-route-id="@Model.Student.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

